<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Page Title -->
  <title>Admin</title>


  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="ShareIt page description" />
  <meta name="author" content="CS2102 GROUP 28" />
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->

  <!-- CSS for Styling -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- JavaScript for Interactivity -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="javascripts/formsScript.js"></script>
  <!-- css -->
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <link href="/css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="/css/prettyPhoto.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <!-- Theme skin -->
  <link id="t-colors" href="/color/default.css" rel="stylesheet" />

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
  <link rel="shortcut icon" href="ico/favicon.png" />
</head>
<body>

  <div id="wrapper">
    <!-- start header -->
    <header>

      <div class="top">
        <div class="container">
          <div class="row">
            <div class="span6">
              <ul class="topmenu">
                <li><a href="/admin">Home</a> &#47;</li>
                <li><a href="#">Terms</a> &#47;</li>
                <li><a href="#">Privacy policy</a></li>
              </ul>
            </div>
            <div class="span5">

              <ul class="social-network">
                <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-circled icon-bglight icon-facebook"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-circled icon-bglight icon-twitter"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-circled icon-linkedin icon-bglight"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-circled icon-pinterest  icon-bglight"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Google +"><i class="icon-circled icon-google-plus icon-bglight"></i></a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <!-- Container for Navigation Bar -->
      <div class="container">

        <div class="row nomargin">
          <!--logo-->
          <div class="span3">
            <div class="logo">
              <h1><a href="/admin"><i class="icon-exchange"></i> ShareIt</a></h1>
            </div>
          </div>

          <div class="span8">
            <div class="navbar navbar-static-top">
              <div class="navigation">
                <nav>
                  <ul class="nav topnav">

                    <!--shows all the auctions for the admin to close-->
                    <li>
                      <a href="/admin">Auction Management</a>
                    </li>
                    <!--shows management-->
                    <li>
                      <a href="/createACategory">Category Management</a>
                    </li>
                    <li>
                      <a href="/createATag">Tag Management</a>
                    </li>

                    <li>
                      <a href="/logout">Logout </a>
                    </li>


                    <!-- <li class="dropdown">
                    <a href="/myRequests">Account <i class="icon-angle-down"></i></a>
                    <ul class="dropdown-menu">
                    <li><a href="/allPosts">Posts</a></li>
                    <li><a href="/myRequests">Requests</a></li>
                    <li><a href="/loans">Loans</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                <a href="/categories">Items <i class="icon-angle-down"></i></a>
                <ul class="dropdown-menu">
                <li><a href="/categories">Categories</a></li>
                <li><a href="/tags">Tags</a></li>
                <li><a href="/search">Search</a></li>
              </ul>
            </li>

            <li class="dropdown">
            <a href="/menu">Others <i class="icon-angle-down"></i></a>
            <ul class="dropdown-menu">
            <li><a href="/">Item 1</a></li>

          </ul>
        </li> -->

      </ul>
    </nav>
  </div>
  <!-- end navigation -->
</div>
</div>
<!--end span8-->
</div>
</div>
<!--ends container for navigation-->
</header>
<!-- end header -->


<section id="content">
  <div class="container">
    <!--CONTENT-->
    <!-- content -->
    <h1><%= title%> Page</h1>

    <div class="form-group">
      <!-- <div class="forms" style="width:60%"> -->

        <div id="auctionsToday" style="display:block;">
          <h4>Posts</h4>
          <table class="table" style="float: left">
            <thead>
              <tr>
                <th scope="col">Auction Id</th>
                <th scope="col">Post Id</th>
                <th scope="col">Product Name</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Pick Up Point</th>
                 <th scope="col">Return Point</th>
                <th scope="col">Start Bid</th>
                <th scope="col">Highest Bid</th>
                <th scope="col">Highest Bidder</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
              </tr>
            </thead>

            <tbody>


              <% for(var i=0; i<data.length; i++) { %>
              <tr>
                <td><%= data[i].auctionid%></td>
                <td><%= data[i].postid%></td>
                <td><%= data[i].productname%></td>
                <td><%= data[i].categoryname%></td>
                <td><%= data[i].description%></td>
                <td><%= data[i].pickuppoint%></td>
                <td><%= data[i].returnpoint%></td>
                <td><%= data[i].startingbid%></td>
                <td><%= data[i].highestbid%></td>
                <td><%= data[i].username%></td>
                <% if (data[i].startdate != null) { %>
                <td><%= data[i].startdate.toLocaleDateString()%></td>
                <td><%= data[i].enddate.toLocaleDateString()%></td>
                <% } else { %>
                <td><%= data[i].startdate%></td>
                <td><%= data[i].enddate%></td>
                <% } %>

              </tr>

              <% } %>


            </tbody>

          </table>

        </div>
      </div>

      <div class="forms">
        <h4>Close an Auction</h4>
        <form id="CategoryD_form" action="admin" role="form" method="post">
          <div class="form-group">
            <label for="auctionId">Auction Id</label>
            <input class="form-control" id="auctionId" name="auctionId" aria-describedby="matricHelp">
          </div>
          <button type="submit" class="btn btn-primary">Close Auction</button>
        </form>
      </div>

      <!--CONTENT-->
    </div>
  </section>

  <!--footer-->

  <footer>
    <div id="sub-footer">
      <div class="container">
        <div class="row">
          <div class="span6">
            <div class="copyright">
              <p><span>&copy; ShareIt Inc. All right reserved</span></p>
            </div>

          </div>

          <div class="span5">
            <div class="credits">
                  <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Remember
                -->
                <!-- Created by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </div>
</body>
</html>
