<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <!-- Page Title -->
  <title>Home and Garden</title>


  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="ShareIt page description" />
  <meta name="author" content="CS2102 GROUP 28" />
  <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->

  <!-- CSS for Styling -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- JavaScript for Interactivity -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="javascripts/formsScript.js"></script>

  <!-- css -->
  <link href="/css/bootstrap.css" rel="stylesheet" />
  <link href="/css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="/css/prettyPhoto.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">

  <!-- Theme skin -->
  <link id="t-colors" href="/color/default.css" rel="stylesheet" />

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png" />
  <link rel="shortcut icon" href="ico/favicon.png" />
</head>
<body>

  <div id="wrapper">
    <!-- start header -->
    <header>

      <div class="top">
        <div class="container">
          <div class="row">
            <div class="span6">
              <ul class="topmenu">
                <li><a href="/menu">Home</a> &#47;</li>
                <li><a href="#">Terms</a> &#47;</li>
                <li><a href="#">Privacy policy</a></li>
              </ul>
            </div>
            <div class="span5">

              <ul class="social-network">
                <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-circled icon-bglight icon-facebook"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-circled icon-bglight icon-twitter"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-circled icon-linkedin icon-bglight"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-circled icon-pinterest  icon-bglight"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Google +"><i class="icon-circled icon-google-plus icon-bglight"></i></a></li>
              </ul>

            </div>
          </div>
        </div>
      </div>
      <!-- Container for Navigation Bar -->
      <div class="container">

        <div class="row nomargin">
          <!--logo-->
          <div class="span3">
            <div class="logo">
              <h1><a href="/menu"><i class="icon-exchange"></i> ShareIt</a></h1>
            </div>
          </div>

          <div class="span8">
            <div class="navbar navbar-static-top">
              <div class="navigation">
                <nav>
                  <ul class="nav topnav">
                    <li>
                      <a href="/menu">Home</a>
                    </li>

                    <li>
                      <a href="/about">About</a>
                    </li>

                    <li>
                      <a href="/allPosts">All Posts</a>
                    </li>

                    <li>
                      <a href="/categoryListing">Search by Category</a>
                    </li>
                    <li>
                      <a href="/tagListing">Search by Tag</a>
                    </li>

                    <li>
                      <a href="/allRequests">All Requests</a>
                    </li>

                    <li>
                      <a href="/search">Search Users</a>
                    </li>

                    <li>
                      <a href="/logout">Logout </a>
                    </li>
                    <!-- <li class="dropdown">
                    <a href="/categories">Category Management <i class="icon-angle-down"></i></a>
                    <ul class="dropdown-menu">
                    <li><a href="/createACategory">Create A Category</a></li>
                    <li><a href="/createACategory">Delete A Category</a></li>
                    <li><a href="/categories">VIew All Categories</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                <a href="/tags">Tag Management <i class="icon-angle-down"></i></a>
                <ul class="dropdown-menu">
                <li><a href="/createATag">Create A Tag</a></li>
                <li><a href="/createATag">Delete A Tag</a></li>
                <li><a href="/tags">VIew All Tags</a></li>
              </ul>
            </li> -->

          </ul>
        </nav>
      </div>
      <!-- end navigation -->
    </div>
  </div>
  <!--end span8-->
</div>
</div>
<!--ends container for navigation-->
</header>
<!-- end header -->



<section id="content">
  <div class="container">
    <!-- content -->
    <h1><%= title%> </h1>

    <form id="search_form" action="HomeandGarden" role="form" method="post">

      <div class="form-group">
        <label for="product">What are you looking for?</label>
        <input class="form-control" id="product" name="product" placeholder="Enter a product">
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <div class="form-group" style="width:80%">
      <!-- <div class="forms" style="width:60%"> -->
        <h4>Posts</h4>

        <div class = "error_box">
          <% if (messages.info){ %>
          <ul>
            <% for(var i=0; i< messages.info.length; i++) { %>
            <li> <%= messages.info[i].msg %> </li>
            <% } %>
          </ul>
          <% } %>
        </div>

        <table class="table" style="float: left">
          <thead>
            <tr>
              <th scope="col">Post Id</th>
              <th scope="col">Product Name</th>
              <th scope="col">Description</th>
              <th scope="col">Pick Up Point</th>
              <th scope="col">Return Point</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i<data.length; i++) { %>
            <tr>
              <td><%= data[i].postid%></td>
              <td><%= data[i].productname%></td>
              <td><%= data[i].description%></td>
              <td><%= data[i].pickuppoint%></td>
              <td><%= data[i].returnpoint%></td>
              <% if (data[i].startdate != null) { %>
              <td><%= data[i].startdate.toLocaleDateString()%></td>
              <td><%= data[i].enddate.toLocaleDateString()%></td>
              <% } else { %>
              <td><%= data[i].startdate%></td>
              <td><%= data[i].enddate%></td>
              <% } %>
              <td><button type="button" class="btn-primary" onclick="showAuction('<%= data[i].auctionid%>','<%= data[i].endbiddate%>','<%= data[i].highestbid%>', '<%= data[i].startingbid%>', '<%=data[i].auctionstatus%>')">Show Auction</button></td>
              <div id="auctionOverlay" style="position:fixed; display:none;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: rgba(0,0,0,0.8);
              z-index: 2;
              cursor: pointer">
              <div id="actualOverlay1" style=" position: absolute;
              top: 50%;
              left: 50%;
              font-size: 50px;
              color: white;
              display: none;
              transform: translate(-50%,-50%);
              -ms-transform: translate(-50%,-50%)">
              <button type="button" class="btn btn-primary" style="float: right" onclick="off()">Close</button>
              <h4 style="color:white">Auction for this Item</h4>
              <form role="form" method="post">
                <ul>
                  <li id="showA" style="font-size: 20px"></li>
                  <li id="showE" style="font-size: 20px"></li>
                  <li id="showH" style="font-size: 20px"></li>
                  <li id="showM"style="font-size: 20px"></li>
                </ul>

                <label for="startingBid">Place Bid</label>
                <input class="form-control" type="number" step=".01" name="placeBid" placeholder="Place your bid" style = "font-size:16px; padding-left: 12px; height:36px">
                <input id="inputAuctionId" style="display: none" class="form-control" type="number" name="auctionid">
                <input id="inputAuctionSB" style="display: none" class="form-control" type="number" name="startingBid">
                <input id="inputAuctionHB" style="display: none" class="form-control" type="number" name="highestBid">
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <div id="actualOverlay2" style=" position: absolute;
            top: 50%;
            left: 50%;
            font-size: 50px;
            color: white;
            display: none;
            transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%)">
            <h4 style="color:white">Auction for this Item</h4>
            <button type="button" class="btn btn-primary" style="float: right" onclick="off()">Close</button>
            <a href="/freeLoans" class="btn btn-primary" style="float: right">Proceed to Free Loans</a>
            <span id="free"></span>
            <span id="free2"></span>
          </div>
        </div>
      </tr>

      <% } %>
    </tbody>
  </table>
</div>
</section>

<!--footer-->

<footer>
  <div id="sub-footer">
    <div class="container">
      <div class="row">
        <div class="span6">
          <div class="copyright">
            <p><span>&copy; ShareIt Inc. All right reserved</span></p>
          </div>

        </div>

        <div class="span5">
          <div class="credits">
              <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Remember
            -->
            <!-- Created by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--Overlay Form for bid-->

</div>
</body>

</html>
